{% extends 'sidebar.html' %} 
{% block content %}
<div class="container-fluid px-3 mt-3">
    <h1 class="h3 mb-3 text-gray-800">Services</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordeless" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="align-left"><strong>Name </strong></td>
                            <td class="align-left">Blockchain Services</td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Status </strong></td>
                            <td class="align-left">Active</td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Description </strong></td>
                            <td class="align-left">{% lorem 1 b random %}</td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Description Agreement </strong></td>
                            <td class="align-left">{% lorem 1 b random %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}