{% extends 'sidebar.html' %} 
{% block content %}
<div class="container-fluid px-3 mt-3">
    <h1 class="h3 mb-3 text-gray-800">Services</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordeless" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="align-left" style="width: 30%"><strong>Name of the services  </strong></td>
                            <td class="align-left">{{context.name}}</td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Status of the service </strong></td>
                            <td class="align-left">
                                {% if context.status %}
                                    Activated
                                {% else %}
                                    Deactivate
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Description of the service </strong></td>
                            <td class="align-left">{{context.service_description}}</td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Description of services agreement </strong></td>
                            <td class="align-left">{{context.service_description_agreement}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}