{% extends 'sidebar.html' %}
{% block content %}
<div class="container-fluid px-3 mt-3">
    <h1 class="h3 mb-3 text-gray-800">Services</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordeless" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="align-left" style="width: 30%"><strong>Name </strong></td>
                            <td class="align-left">{{context.name}}</td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Status </strong></td>
                            <td class="align-left">
                                {% if context.status %}
                                Activated
                                {% else %}
                                Deactivate
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Description </strong></td>
                            <td class="align-left">{{context.service_description}}</td>
                        </tr>
                        <tr>
                            <td class="align-left"><strong>Description Agreement </strong></td>
                            <td class="align-left">{{context.service_description_agreement}}</td>
                        </tr>
                    </tbody>
                </table>
                <form method="post" name='form'>
                    {% csrf_token %}
                    <input 
                        type=button
                        onclick="confirmChange()"
                        value="{% if context.status %} Inactive service {% else %} Active service{% endif %}"
                        class="btn {% if context.status %} btn-secondary {% else %} btn-primary {% endif %} d-flex justify-content-center align-middle"
                    >
                </form>
            </div>
        </div>
    </div>
</div>
<script>
function confirmChange() {
    var result = confirm('Are you sure that you wish to inactivate this service?');
    if (result === true) {
        document.form.submit();
    }
}
</script>
{% endblock content %}