{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block headlinks %}
<!-- https://www.daterangepicker.com/ -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock headlinks %}
{% block content %}
<div class="container-fluid mt-5 pb-5">
    <h1 class="h3 mb-2 text-gray-800">Sale</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            {% if messages %}
            <div class="row mt-3 mb-3">
                <div class="col-12">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <form action="" method="post" class="mt-2" id="send" autocomplete="off">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>
<script>
function cancel() {
    var result = confirm('are you sure you want to cancel the register of the new sale ?');
    if (result === true) {
        location.href = "{% url 'sales' %}";
    }
}
$('#send').submit(function() {
    document.getElementById("id_country").disabled = false;
    document.getElementById("id_process_sale_status").disabled = false;
    document.getElementById("id_status").disabled = false;
    document.getElementById("id_id_representative").disabled = false;
    return true;
});
</script>
<script type="text/javascript">
$(function() {
    $('input[name="contract"]').daterangepicker({ 
        autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear'
        }
    });

    $('input[name="contract"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('DD-MM-YYYY') + ' / ' + picker.endDate.format('DD-MM-YYYY'));
    });

    $('input[name="contract"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
});
</script>
{% endblock content %} 